body {
    background-image: url("./assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.crew {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-inline: auto;
}

.crew-info {
    display: grid;
    grid-template-rows: 1fr auto;
}

.img {
    align-self: end;
    -webkit-mask-image: linear-gradient(to bottom,
            black 70%,
            transparent 100%);
    mask-image: linear-gradient(to bottom,
            black 70%,
            transparent 100%);
    mask-mode: alpha;
}


.crew-content {
    align-self: center;
}


.dot-indicators {
    margin-top: auto;
    margin-bottom: var(--space-400);
    display: flex;
    gap: var(--space-500);
}

@media screen and (max-width: 1000px) {
    body {
        background-image: url("./assets/crew/background-crew-tablet.jpg");
        padding-bottom: 0;
    }

    .crew-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .crew-info {
        margin-top: var(--space-600);
    }

    .dot-indicators {
        gap: var(--space-200);
        margin-top: var(--space-400);
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {
    body {
        background-image: url("./assets/crew/background-crew-mobile.jpg");
    }

    .crew h1 {
        text-align: center;
    }


}